 <%= render 'shared/hoomies_nav' %>

  <%= render 'shared/home_carousel' %>
<style>
	.offerservice
		{
			display: block;
			text-align: center;
			font-size: 20px;
			margin-bottom: 0px;
			font-style: italic;
			color: purple;
			font-family: initial;
			border-bottom: 1px solid black;
			text-transform: uppercase;
		}
	.inner-text
		{
			font-size: 15px;
			font-style: italic;
		}

	.inner-cond
		{
			font-size: 15px;
			font-style: italic;
			font-weight: bold;	
		}

	.gold
		{
			background-color: gold;
		}
	.ruby
		{
			background-color: #effff0;
		}

	.diamond
		{
			background-color: lightyellow;
		}

	.offer-title 
		{
			display: block;
			text-align: center;
		}

	.subtitle
		{
			display: flex;
			justify-content: center;
		}
</style>

  <div class="container" style="margin-top: 40px;">
  	<h2> Nos Formules</h2>
  	<div class="row">
  		<div class="col-md-4 ">
	  		<div class="card">
			  <div class="card-body gold">
			    <span class="card-title offerservice"> Gold </span>
			    <div class="row subtitle">
			    	<h3 style="color: floralwhite;"> Postez Votre annonce </h3>
			    </div>
			    <div class="row">
				    <p class="card-text inner-text">
						Testez le marché sans vous engager. Vous publiez votre annonce gratuitement. Vous voyez ce que ça donne.
					</p>
			    </div>
				
				<div class="row">
					<p class="inner-cond">
						<b>Inclus</b> : 3 annonces de 6 photos. Suivi des performances de l'annonce. Modifications gratuites et illimitées.
					</p>
				</div>

			    <%= form_tag charges_new_path, method: "GET" do %>
					<input type="text", value="100", name="amount", hidden>
					<input type="text", value="Gold", name="offerstype", hidden>

					<%= submit_tag "En savoir plus", class: "btn btn-primary"%>
				<% end %>
			  </div>
			</div>
  		</div>

  		<div class="col-md-4">
	  		<div class="card">
			  <div class="card-body ruby">
	    		<span class="card-title offerservice">Ruby</span>
			  	<div class="row subtitle">
			    	<h3 style="color: blue"> Des maison à Vendre </h3>
			    </div>
			  	<div class="row">
			    	<p class="card-text inner-text">
			    		Nôtre pack classique vous apporte tout ce dont vous avez besoin!
			    	</p>
			  	</div>

				<div class="row">
				    <p class="inner-cond">
						<b>Inclus</b> : 10 annonces de 12 photos. Suivi des performances de l'annonce. Modifications gratuites et illimitées. Interface de gestion de la vente.  
				    </p>
				</div>
	
			  	<%= form_tag charges_new_path, method: "GET" do %>
					<input type="text", value="300", name="amount", hidden>
					<input type="text", value="Ruby", name="offerstype", hidden>

					<%= submit_tag "En savoir plus", class: "btn btn-primary"%>
				<% end %>
			  </div>
			</div>
  		</div>

  		<div class="col-md-4">
	  		<div class="card">
			  <div class="card-body diamond">
			    <span class="card-title offerservice">Diamond</span>
			  	<div class="row subtitle">
			    	<h3 style="color: darkviolet"> Offre sans limite </h3>
			    </div>

			  	<div class="row">
			    	<p class="card-text inner-text">
			    		Nôtre pack diamond vous permet de publier vos annonces illimitées!
			    	</p>
			  	</div>

				<div class="row">
				    <p class="inner-cond">
						<b>Inclus</b> : annonces illimitées de 15 photos pendant 6 mois. Suivi des performances de l'annonce. Modifications gratuites et illimitées. Interface de gestion de la vente.  
				    </p>
				</div>
			    
				<%= form_tag charges_new_path, method: "GET" do %>
					<input type="text", value="500", name="amount", hidden>
					<input type="text", value="Diamond", name="offerstype", hidden>
					<%= submit_tag "En savoir plus", class: "btn btn-primary"%>
				<% end %>
			  </div>
			</div>
  		</div>	
	</div>
  	</div>
  </div>

  <div class="site-section" style="padding-top: 3em">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <div class="site-section-title">
            <h2>Pourquoi nous?</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maiores quisquam saepe architecto error corporis aliquam. Cum ipsam a consectetur aut sunt sint animi, pariatur corporis, eaque, deleniti cupiditate officia.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="icon flaticon-house"></span>
            <h2 class="service-heading">Support et accompagnement</h2>
            <p>Le n°1 de l'immobilier
entre particuliers

Avec un taux de visiteurs croissant par mois, Hoomies est un incontournable pour toutes les personnes qui recherchent activement un logement.</p>
            <p><span class="read-more">Read More</span></p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="icon flaticon-sold"></span>
            <h2 class="service-heading">Assistance technique</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
            <p><span class="read-more">Read More</span></p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="icon flaticon-camera"></span>
            <h2 class="service-heading">Votre sécurité est notre priorité</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
            <p><span class="read-more">Read More</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>
  