<!-- <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> 

<div class="container py-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 p-5">
            <h2 class="m-0 mb-4">S'inscrire</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :email, class: 'control-label' %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :password, 'Mot de passe', class: 'control-label' %>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, 'Confirmation', class: 'control-label' %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit "S'inscrire", class: 'btn btn-outline-primary btn-block' %>
              </div>
            <% end %>

            <hr>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
-->

<style>
  body {
    background-image: url('/assets/bg_1.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
  }
</style>
<div class="container">
  <div class="offset-md-4 col-md-6">
    <div class="wrap-login100 p-l-25 p-r-25 p-t-20 p-b-25" style="margin-top: 20px;width: 300px; opacity: 0.8">
        <span class="login100-form-title p-b-10">
            S'inscrire
        </span>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'login100-form'}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Email is reauired">
            <span class="label-input100">Email</span>

            <%= f.email_field :email, class: "input100", placeholder: "Entrez votre email"%>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Mot de passe</span>

            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <br/>
            <%= f.password_field :password, autocomplete: "new-password" ,class:"input100", placeholder: "Entrez votre mot de passe" %>
            <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>

        <br/>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Confirmer</span>

            <%= f.password_field :password_confirmation, class: "input100", placeholder: "Confirmer votre mot de passe" %>
            <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>

        <br>
        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn">
                    S'inscrire
                </button>
            </div>
        </div>
    <% end %>
    <br>
        <div class="flex-c-m">
        
            <%= link_to(user_facebook_omniauth_authorize_path, class:'login100-social-item bg1') do %>
                <i class="fa fa-facebook"></i> 
            <%end%>

            <%= link_to(user_google_oauth2_omniauth_authorize_path, class:'login100-social-item bg3') do %>
                <i class="fa fa-google"></i> 
            <%end%>

        </div>
      </div>

  </div>
</div>
