<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">

            <h1>Modifier</h1>
            <h3><%= @house.title %></h3>

            <%= form_tag url_for(action: 'update'), method: 'put', multipart: true do %>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <%= label_tag 'Titre' %>
                        <%= text_field :house, :title, class:'form-control' %>
                        <span class="text-danger"><%= @house.errors.messages[:title].first  %></span>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'Description' %>
                        <%= text_area :house, :description, class:'form-control', rows: 5 %>
                        <span class="text-danger"><%= @house.errors.messages[:description].first  %></span>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'Nombre de pièce' %>
                        <%= number_field :house, :room_number, class:'form-control' %>
                        <span class="text-danger"><%= @house.errors.messages[:room_number].first  %></span>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'Adresse' %>
                        <%= text_field :house, :address, class:'form-control' %>
                        <span class="text-danger"><%= @house.errors.messages[:address].first  %></span>
                    </div>
                    <div class="form-group">
                        <% Feature.all.each do |feat| %>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <%= check_box_tag 'house[features][]', feat.id, @house.features.exists?(feat.id), id: "house_features_#{feat.id}", class: 'custom-control-input' %>
                            <%= label_tag "house_features_#{feat.id}", feat.name, class: 'custom-control-label' %>
                        </div>
                        <% end %>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <%= label_tag 'Vente ou location?' %>
                                <%= select(:house, :status, options_for_select([['Louer', 'rent'], ['Vendre', 'sell']], @house.status),{}, class: 'custom-select') %>
                                <span class="text-danger"><%= @house.errors.messages[:status].first  %></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <%= label_tag 'Prix' %>
                                <%= number_field :house, :price, class:'form-control' %>
                                <span class="text-danger"><%= @house.errors.messages[:price].first  %></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <%= label_tag 'Quartier' %>
                                <%= select(:house, :district_id, District.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selectionnez un quartier'}, class:'custom-select') %>
                                <span class="text-danger"><%= @house.errors.messages[:district_id].first  %></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <%= label_tag 'Type' %>
                                <%= select(:house, :type_id, Type.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selectionnez un type'}, class:'custom-select') %>
                                <span class="text-danger"><%= @house.errors.messages[:type_id].first  %></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="custom-control custom-radio">
                                <%= radio_button :house, :is_available, true, class:'custom-control-input' %>
                                <%= label_tag :house_is_available_true, 'Disponible', class:"custom-control-label" %>
                            </div>
                            <span class="text-danger"><%= @house.errors.messages[:is_available].first  %></span>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-radio">
                                <%= radio_button :house, :is_available, false, class:'custom-control-input' %>
                                <%= label_tag :house_is_available_false, 'Indisponible', class:"custom-control-label" %>
                            </div>
                        </div>
                    </div>

                    <% if not @house.photos.attached? %>
                        <div class="form-row">
                            <div class="col">
                                <h3> Uploader les photos</h3>
                                <div class="form-control-file border" style="margin-top: 10px; margin-bottom: 10px;">
                                <%= label_tag 'photos'  do %>
                                    <%= file_field_tag 'photos[]' %>
                                    <%= file_field_tag 'photos[]' %>
                                    <%= file_field_tag 'photos[]' %>
                                <% end %>
                                </div>

                            </div>            
                        </div>
                    <% end %>

                </div>
            </div>

<hr>
            <% if @house.photos.attached? %>
                <% for photo in @house.photos %>
                    <input type="checkbox" name="delete_photos[]" value="<%= photo.id %>">
                    <%= image_tag(photo) %>
                    <input type="file" name="">
                    <br>
                <% end %>
            <% end %>
<hr>

            <%= submit_tag 'Enregister les modifications', class: 'btn btn-primary'%>
            <% end %>

        </div>
    </div>
</div>


