<style>
.notifyjs-container{
    left: -250px !important;
}
</style>
<script>
    $(function(){
        $(".icon-notifications").notify(
            'Vous avez <% if current_user.post_count === 1 %> <%= current_user.post_count%> announce restant <% else %> <%= current_user.post_count%> anounces  restants <% end %> !',
            'info'
        );
    });

    $(".icon-notifications").mouseenter(function(){
        $(".icon-notifications").notify(
            'Vous avez <% if current_user.post_count === 1 %> <%= current_user.post_count%> announce restant <% else %> <%= current_user.post_count%> anounces  restants <% end %> !',
            'info'
        );
    });
</script>
<div class="container my-5">
<div class="container my-4">
    <div class="row">
        <div class="col-sm-12">

            <h1 class="text-primary">Créer une annonce</h1>
            <!--
            <% if @house.errors.any? %>
                <ul>
                  <% @house.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            <% end %>
            -->

            <%= form_tag url_for(action: 'create'), method: 'post' do %>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <%= label_tag 'Titre (6 à 10 caractères)' %>
                        <%= text_field :house, :title, class:'form-control' %>
                        <span class="text-danger"><%= @house.errors.messages[:title].first  %></span>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'Description (128 caractères minimum)' %>
                        <%= text_area :house, :description, class:'form-control', rows: 5 %>
                        <span class="text-danger"><%= @house.errors.messages[:description].first  %></span>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'Nombre de pièce' %>
                        <%= number_field :house, :room_number, class:'form-control' %>
                        <span class="text-danger"><%= @house.errors.messages[:room_number].first  %></span>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'Adresse du bien' %>
                        <%= text_field :house, :address, class:'form-control' %>
                        <span class="text-danger"><%= @house.errors.messages[:address].first  %></span>
                    </div>
                    <div class="form-group">
                        <% Feature.all.each do |feat| %>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <%= check_box_tag 'house[features][]', feat.id, false, id: "house_features_#{feat.id}", class: 'custom-control-input' %>
                            <%= label_tag "house_features_#{feat.id}", feat.name, class: 'custom-control-label' %>
                        </div>
                        <% end %>
                    </div>

                </div>

                <div class="col-sm-4">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <%= label_tag 'Vente ou location ?' %>
                                <%= select(:house, :status, options_for_select([['Louer', 'rent'], ['Vendre', 'sell']], @house.status),{}, class: 'custom-select') %>
                                <span class="text-danger"><%= @house.errors.messages[:status].first  %></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <%= label_tag 'Prix en Ariary' %>
                                <%= number_field :house, :price, class:'form-control' %>
                                <span class="text-danger"><%= @house.errors.messages[:price].first  %></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <%= label_tag 'Quartier' %>
                                <%= select(:house, :district_id, District.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selectionnez un quartier'}, class:'custom-select') %>
                                <span class="text-danger"><%= @house.errors.messages[:district_id].first  %></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <%= label_tag 'Type' %>
                                <%= select(:house, :type_id, Type.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selectionnez un type'}, class:'custom-select') %>
                                <span class="text-danger"><%= @house.errors.messages[:type_id].first  %></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <%= submit_tag "Créer l'annonce", class: 'btn btn-primary' %>
            <% end %>

        </div>
    </div>
</div>
