<div class="container">
    <div class="row">
        <h1>Mon profil</h1>
    </div>
    <div class="row">
        <% if current_user.testimonial %>
            <a id="Edit-testimonial" data-toggle="modal" data-target="#testimonialModal " href="#">
                Edit Testimonial
            </a>
        <% else %>
            <%= form_tag testimonials_path do %>
                 <div class="form-group">
                <%= label_tag 'Temoignage' %>
                    <%= text_area_tag :testimonial, '', class: 'form-control', placeholder: 'Laissez votre temoignage ...' %>
                </div>
                <p> Rate Us</p>
                <ul class="rating-ul">
                    <% for index in 1..5 do %>

                        <%= label_tag "rating_#{index}" do %>
                            <li class="stars-ico stars-icon-off" style="float: left" data-stars="<%= index %>" id="starid-<%= index %>"> </li>

                            <%= radio_button_tag :rating, index%>
                        <% end %>

                    <% end %>
                </ul>
                    <br>
                <%= submit_tag "Valider", class: 'btn btn-primary btn-block' %>
        <% end %>
        <% end %>
    </div>
</div>


