<%= render 'shared/signin_modal' %>
<%= render 'shared/signup_modal' %>


<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <!-- .site-mobile-menu -->

    <div class="site-navbar site-navbar-small shadow-sm" style="border-bottom: 1px solid white;">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-4">
                    <h1 class="mb-0">
                        <a href="/" class="text-white h2 mb-0">
                            <strong>Hoomies<span class="text-danger">.</span></strong>
                        </a>
                    </h1>
                </div>
                <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                            <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                                <span class="icon-menu h3"></span></a>
                        </div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li class="active">
                                <a href="/">Accueil</a>
                            </li>
                            <li>
                                <a href="<%= new_house_path %>">Créer une annonce</a>
                            </li>
                            <li class="has-children">
                                <a href="#">Je cherche</a>
                                <ul class="dropdown arrow-top">
                                    <li>
                                        <a href="#">À louer</a>
                                    </li>
                                    <li>
                                        <a href="#">À vendre</a>
                                    </li>
                                    <li>
                                        <a href="#">Commercial Building</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">Sub Menu</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="#">Menu One</a>
                                            </li>
                                            <li>
                                                <a href="#">Menu Two</a>
                                            </li>
                                            <li>
                                                <a href="#">Menu Three</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                         
                        <% if user_signed_in? %>
                             <li class="nav-item dropdown">
                                
                                  <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="/assets/person_1.jpg" class="avatar" alt=""> Antonio Moreno <b class="caret"></b></a>

                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">


                                    <%= link_to(users_profil_path, class: "dropdown-item") do %>
                                        <i class="icon-user-o"> Mon profil </i>
                                    <%end%>

                                    <%= link_to(destroy_user_session_path, method: :delete, class: "dropdown-item") do %>
                                        <i class="icon-delete"> Sign out </i>
                                    <% end %>
                                  </div>
                             </li>
                        <% else %>
                      <li class="nav-item ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><i class="icon-user-o"> Connexion </i> <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" data-animations="fadeInUp" role="menu" style="transform: translate3d(615px, 53px, 0px); min-width: 129px;">
                        <a id="log-in" data-toggle="modal" data-target="#signinModal" class="dropdown-item" href="#" style="text-align: center;">
                             Login 
                        </a>
                          <li class="divider"></li>
                          <a id="sign-up" data-toggle="modal" data-target="#signupModal" class="dropdown-item" href="#" style="text-align: center;">Sign up</a>
                        </ul>
                        <% end %>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
