<%= render 'shared/signin_modal' %>
<%= render 'shared/signup_modal' %>


<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <!-- .site-mobile-menu -->

    <div class="site-navbar site-navbar-small shadow-sm" style="border-bottom: 1px solid white;">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-4">
                    <h1 class="mb-0">
                        <a href="/" class="text-white h2 mb-0">
                            <strong>Hoomies<span class="text-danger">.</span></strong>
                        </a>
                    </h1>
                </div>
                <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                            <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                                <span class="icon-menu h3"></span></a>
                        </div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li class="active">
                                <a href="/">Accueil</a>
                            </li>
                            <li>
                                <a href="<%= new_house_path %>">Créer une annonce</a>
                            </li>
                            <li class="has-children">
                                <a href="#">Je cherche</a>
                                <ul class="dropdown arrow-top">
                                    <li>
                                        <a href="#">À louer</a>
                                    </li>
                                    <li>
                                        <a href="#">À vendre</a>
                                    </li>
                                    <li>
                                        <a href="#">Commercial Building</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">Sub Menu</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="#">Menu One</a>
                                            </li>
                                            <li>
                                                <a href="#">Menu Two</a>
                                            </li>
                                            <li>
                                                <a href="#">Menu Three</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        <% if user_signed_in? %>
                             <li class="has-children">
                                  <a href="#"><img src="/assets/person_1.jpg" class="avatar" alt=""> Antonio Moreno </a>
                                  <ul class="dropdown arrow-top" role="menu">
                                      <li>
                                          <%= link_to(users_profil_path) do %>
                                              <i class="icon-user-o"></i> Mon profil
                                          <%end%>
                                      </li>
                                      <li>
                                          <%= link_to(destroy_user_session_path, method: :delete) do %>
                                              <i class="icon-delete"></i> Se déconnecter
                                          <% end %>
                                      </li>
                                  </ul>
                             </li>
                        <% else %>
                            <li class="has-children">
                                <a href="#" role="button"><i class="icon-user-o mr-1"></i>Connexion</a>
                                <ul class="dropdown arrow-top" role="menu">
                                    <li><a href="#" id="log-in" data-toggle="modal" data-target="#signinModal"> Se connecter </a></li>
                                    <li><a href="#" id="sign-up" data-toggle="modal" data-target="#signupModal">S'inscrire</a></li>
                                </ul>
                            </li>
                        <% end %>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
