  <%= render 'shared/hoomies_nav' %>

  <%= render 'shared/home_carousel' %>

  <%= render 'shared/search_form' %>

  <div class="site-section site-section-sm bg-light">
    <div class="container">
<!--
      <div class="row mb-5">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-danger">Sale</span>
                <span class="offer-type bg-success">Rent</span>
              </div>
              <img src="<%= image_url('img_1.jpg') %>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">625 S. Berendo St</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 625 S. Berendo St Unit 607 Los Angeles, CA 90005</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">7,000</span>

                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-danger">Sale</span>
                <span class="offer-type bg-success">Rent</span>
              </div>
              <img src="<%= image_url('img_2.jpg') %>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite active"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">871 Crenshaw Blvd</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 1 New York Ave, Warners Bay, NSW 2282</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">1,620</span>

                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-info">Lease</span>
              </div>
              <img src="<%= image_url('img_3.jpg')%>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">853 S Lucerne Blvd</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 853 S Lucerne Blvd Unit 101 Los Angeles, CA 90005</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">5,500</span>

                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-danger">Sale</span>
                <span class="offer-type bg-success">Rent</span>
              </div>
              <img src="<%= image_url('img_4.jpg') %>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">625 S. Berendo St</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 625 S. Berendo St Unit 607 Los Angeles, CA 90005</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">7,000</span>

                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-danger">Sale</span>
                <span class="offer-type bg-success">Rent</span>
              </div>
              <img src="<%= image_url('img_5.jpg') %>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">871 Crenshaw Blvd</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 1 New York Ave, Warners Bay, NSW 2282</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">1,620</span>

                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-info">Lease</span>
              </div>
              <img src="<%= image_url('img_6.jpg') %>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">853 S Lucerne Blvd</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 853 S Lucerne Blvd Unit 101 Los Angeles, CA 90005</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">5,500</span>

                </li>
              </ul>

            </div>
          </div>
        </div>
-->

        <div class="site-section site-section-sm pb-0">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 mb-2">
                    <h1>NOS OFFRES </h1>
                    <hr>
                    <h3>Ventes et locations</h3>
                </div>
            </div>

            <div class="row">
                <% House.all.each_with_index do |house, index| %>
                  <% if index < 6 %>
                    <div class="col-md-6 col-lg-4 mb-4">
                      <div class="property-entry h-100">
                        <a href="<%= house_path(house.id) %>" class="property-thumbnail">
                          <div class="offer-type-wrap">
                             <% if house.status == 'rent' %>
                                 <span class="offer-type bg-danger">À louer</span>
                             <% else %>
                                 <span class="offer-type bg-success">À vendre</span>
                             <% end %>

                          </div>
                          <img src="<%= image_url('img_1.jpg') %>" alt="Image" class="img-fluid">
                        </a>
                        <% if house.user == current_user %>
                            <%= link_to(content_tag(:span, 'Modifier', :class => 'offer-type bg-primary'), edit_house_path(house.id), :class => 'property-thumbnail',:style => 'position:absolute; margin-top:-34px; margin-left:10px;')%>
                        <% end %>


                        <div class="p-4 property-body">
                          <a href="<%= house_likes_path(house.id) %>" id="like_<%= house.id %>" class="property-favorite <%= house.likes.find_by(user: 1) ? 'active' : '' %>" data-method="post" data-remote="true"><span class="icon-heart-o"></span></a>
                          <h2 class="property-title"><a href="<%= house_path(house.id) %>"><%= house.title %></a></h2>
                          <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span><%= house.address %></span>
                          <strong class="property-price text-primary mb-3 d-block text-success"><%= number_to_currency(house.price, unit: 'Ar ', precision: 0, delimiter: '.') %></strong>
                          <ul class="property-specs-wrap mb-3 mb-lg-0">.
                              <% house.features.each do |feat| %>
                            <li>
                              <span class="property-specs"><%= feat.name %></span>
                              <!-- <span class="property-specs-number">2 <sup>+</sup></span> -->
                            </li>
                            <% end %>
                            <!-- <li>
                              <span class="property-specs">Beds</span>
                              <span class="property-specs-number">2 <sup>+</sup></span>

                            </li>
                            <li>
                              <span class="property-specs">Baths</span>
                              <span class="property-specs-number">2</span>

                            </li>
                            <li>
                              <span class="property-specs">SQ FT</span>
                              <span class="property-specs-number">7,000</span>

                            </li> -->
                          </ul>

                        </div>
                      </div>
                    </div>
                  <%end%>
                <% end %>
            </div>

            <div class="row">
                <div class="col">
                    <a  href="<%= houses_path  %>" class="btn btn-primary btn-block"> 
                        Voir toutes les offres
                    </a>
                    <!-- <p> <%= link_to  "Voir plus", houses_path  %> </p> -->
                </div>
            </div>
        </div>
        </div>

<!--
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-danger">Sale</span>
                <span class="offer-type bg-success">Rent</span>
              </div>
              <img src="<%= image_url('img_7.jpg') %>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">625 S. Berendo St</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 625 S. Berendo St Unit 607 Los Angeles, CA 90005</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">7,000</span>

                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-danger">Sale</span>
                <span class="offer-type bg-success">Rent</span>
              </div>
              <img src="<%= image_url('img_8.jpg') %>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">871 Crenshaw Blvd</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 1 New York Ave, Warners Bay, NSW 2282</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">1,620</span>

                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="property-details.html" class="property-thumbnail">
              <div class="offer-type-wrap">
                <span class="offer-type bg-info">Lease</span>
              </div>
              <img src="<%= image_url('img_1.jpg') %>" alt="Image" class="img-fluid">
            </a>
            <div class="p-4 property-body">
              <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
              <h2 class="property-title"><a href="property-details.html">853 S Lucerne Blvd</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> 853 S Lucerne Blvd Unit 101 Los Angeles, CA 90005</span>
              <strong class="property-price text-primary mb-3 d-block text-success">$2,265,500</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">Beds</span>
                  <span class="property-specs-number">2 <sup>+</sup></span>

                </li>
                <li>
                  <span class="property-specs">Baths</span>
                  <span class="property-specs-number">2</span>

                </li>
                <li>
                  <span class="property-specs">SQ FT</span>
                  <span class="property-specs-number">5,500</span>

                </li>
              </ul>

            </div>
          </div>
        </div>
-->
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
<!--
          <div class="site-pagination">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <span>...</span>
            <a href="#">10</a>
          </div>
-->
        </div>
      </div>

    </div>
  </div>
<!--
  <div class="site-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <div class="site-section-title">
            <h2>Pourquoi nous?</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maiores quisquam saepe architecto error corporis aliquam. Cum ipsam a consectetur aut sunt sint animi, pariatur corporis, eaque, deleniti cupiditate officia.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="icon flaticon-house"></span>
            <h2 class="service-heading">Support et accompagnement</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
            <p><span class="read-more">Read More</span></p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="icon flaticon-sold"></span>
            <h2 class="service-heading">Assistance technique</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
            <p><span class="read-more">Read More</span></p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="icon flaticon-camera"></span>
            <h2 class="service-heading">Votre sécurité est notre priorité</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
            <p><span class="read-more">Read More</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>
  -->


  <!--

      ***********************************************************************************************
      ***********************************************************************************************
                                              Testimonial section Begining
      ***********************************************************************************************
      ***********************************************************************************************
  -->

    <div class="testimonial-section">
        <%= render 'layouts/testimonial_body' %>
    </div>

  <!--

      ***********************************************************************************************
      ***********************************************************************************************
                                             End of Testimonial section
      ***********************************************************************************************
      ***********************************************************************************************
  -->


  <div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
          <div class="site-section-title">
            <h2>Recent Blog</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maiores quisquam saepe architecto error corporis aliquam. Cum ipsam a consectetur aut sunt sint animi, pariatur corporis, eaque, deleniti cupiditate officia.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">
          <a href="#"><img src="<%= image_url('img_4.jpg') %>" alt="Image" class="img-fluid"></a>
          <div class="p-4 bg-white">
            <span class="d-block text-secondary small text-uppercase">Jan 20th, 2019</span>
            <h2 class="h5 text-black mb-3"><a href="#">Art Gossip by Mike Charles</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem veniam quae sunt.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="200">
          <a href="#"><img src="<%= image_url('img_2.jpg') %>" alt="Image" class="img-fluid"></a>
          <div class="p-4 bg-white">
            <span class="d-block text-secondary small text-uppercase">Jan 20th, 2019</span>
            <h2 class="h5 text-black mb-3"><a href="#">Art Gossip by Mike Charles</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem veniam quae sunt.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
          <a href="#"><img src="<%= image_url('img_3.jpg') %>" alt="Image" class="img-fluid"></a>
          <div class="p-4 bg-white">
            <span class="d-block text-secondary small text-uppercase">Jan 20th, 2019</span>
            <h2 class="h5 text-black mb-3"><a href="#">Art Gossip by Mike Charles</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem veniam quae sunt.</p>
          </div>
        </div>

      </div>

    </div>
  </div>

<!--
<div class="site-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7">
        <div class="site-section-title text-center">
          <h2>Our Agents</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero magnam officiis ipsa eum pariatur labore fugit amet eaque iure vitae, repellendus laborum in modi reiciendis quis! Optio minima quibusdam, laboriosam.</p>
        </div>
      </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
          <div class="team-member">

            <img src="<%= image_url('person_1.jpg') %>" alt="Image" class="img-fluid rounded mb-4">

            <div class="text">

              <h2 class="mb-2 font-weight-light text-black h4">Megan Smith</h2>
              <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolorem totam non quis facere blanditiis praesentium est. Totam atque corporis nisi, veniam non. Tempore cupiditate, vitae minus obcaecati provident beatae!</p>
              <p>
                <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
          <div class="team-member">

            <img src="<%= image_url('person_2.jpg') %>" alt="Image" class="img-fluid rounded mb-4">

            <div class="text">

              <h2 class="mb-2 font-weight-light text-black h4">Brooke Cagle</h2>
              <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cumque vitae voluptates culpa earum similique corrupti itaque veniam doloribus amet perspiciatis recusandae sequi nihil tenetur ad, modi quos id magni!</p>
              <p>
                <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
          <div class="team-member">

            <img src="<%= image_url('person_3.jpg') %>" alt="Image" class="img-fluid rounded mb-4">

            <div class="text">

              <h2 class="mb-2 font-weight-light text-black h4">Philip Martin</h2>
              <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores illo iusto, inventore, iure dolorum officiis modi repellat nobis, praesentium perspiciatis, explicabo. Atque cupiditate, voluptates pariatur odit officia libero veniam quo.</p>
              <p>
                <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
              </p>
            </div>

          </div>

        </div>



      </div>
  </div>
  </div>

</div>
-->
